.comp-one {
    height: 500px;
}
.comp-bgimg {
    background: url(../images/join-bg01.jpg) no-repeat;
    background-size: 100% 400px;
    height: 450px;
}
.join-one {
    max-width: 1200px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.join-oneMain {
    width: 560px;
    height: 300px;
    overflow: hidden;
}
.join-oneMain img {
    width: 560px;
    overflow: hidden;
    transition: 1s;
}
.join-oneMain img:hover {
    transform: scale(1.1);
}
.join-oneIn {
    width: 560px;
    text-align: center;
    position: relative;
    top:-200px;
    color: #fff;
    font-size: 30px;
}
.join-oneIn h3 {
    font-size: 40px;
}
.join-two {
    background: #f6f6f6;
    width: 100%;
    height: 1750px;
}
.join-twoMain {
    max-width: 1200px;
    margin: 0 auto;
}
.join-twoMain h2 {
    font-size: 35px;
    padding: 50px 0 30px;
    text-align: center;
}
.join-twoMain span {
    font-size: 20px;
    color: #cf000d;
    display: block;
    text-align: center;

}
.join-twoslide {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.join-twoslide button {
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
    height: 80px;
    width: 80px;
    font-size: 20px;
    margin-top: 150px;
}
.join-twotit {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.join-twotit h4 {
    color: #cf000d;
}
.join-twocon {
    display: flex;
    justify-content: space-between;
}
.join-twocon p {
    width: 223px;
    height: 162px;
    margin-right: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.join-twocon p img {
    margin: 0 10px;
}
.join-twobo {
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "img01 img02 img03 img04"
    "img05 img02 img06 img04";
}
.join-twobo img {
    transition: 1s;
}
.join-twobo img:hover {
    transform: scale(1.1);
}
.img01 {
    grid-area: img01;
    width: 280px;
    height: 187px;
    background: #fff;
    overflow: hidden;
}
.img02 {
    grid-area: img02;
    width: 280px;
    height: 385px;
    background: #fff;
    overflow: hidden;
}
.img03 {
    grid-area: img03;
    width: 280px;
    height: 187px;
    background: #fff;
    overflow: hidden;
}
.img04 {
    grid-area: img04;
    width: 280px;
    height: 385px;
    background: #fff;
    overflow: hidden;
}
.img05 {
    grid-area: img05;
    width: 280px;
    height: 187px;
    background: #fff;
    overflow: hidden;
}
.img06 {
    grid-area: img06;
    width: 280px;
    height: 187px;
    background: #fff;
    overflow: hidden;
}
.join-three {
    width: 100%;
    margin: 0 auto;
    color: #fff;
}
.join-threemain {
    max-width: 1200px;
    margin: 0 auto;
    height: 500px;
}
.join-threemain h2 {
    margin: 50px auto 50px;
    text-align: center;
    height: 50px;
    color: #000;
}
.join-threemain ul{
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.join-threemain ul li {
    display: inline-block;
    width: 280px;
    height: 327px;
    margin-right: 25px;
}
.join-thrmain {
    width: 280px;
    height: 327px;
    position: relative;
    top: -327px;
    margin: 0 auto;
}
.join-thrmain img {
    display: block;
    margin: 40px 20px 10px;
}
.join-thrmain strong {
    color: #fff;
    font-size: 18px;
    display: block;
    margin: 0 20px 20px;
}
.join-thrmain p {
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    margin: 10px 20px 0;
}
.join-four {
    width: 100%;
    margin: 0 auto;
    background: #f6f6f6;
    height: 550px;
}
.join-fourmain {
    max-width: 1200px;
    margin:  0 auto;
}
.join-fourmain h2 {
    margin: 0 auto 50px;
    padding-top: 50px;
    text-align: center;
    height: 50px;
}
.join-fourmain table {
    margin-top: 100px;
}
.join-fourhead {
    border-bottom: 3px solid #cf000d;
    background: #f0f0f0;
}
.join-fourhead tr ,.join-fourbody tr{
    width: 1200px;
    height: 40px;
    display: flex;
    align-items: center;
}
.join-fourhead tr td,.join-fourbody tr td {
    width: 200px;
    padding: 20px 40px;
}
.join-fourhead tr td a:hover,.join-fourbody tr td a:hover {
    text-decoration: none;
    color: #cf000d;
}
.join-fourbody tr{
    border-bottom: 1px solid #999;
    padding: 30px 0;
}
